<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-secondary">
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Index" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <div style="position:absolute ;right: 670px"><a class="nav-link text-dark" asp-controller="Cart" asp-action="Cart">Корзина</a></div>
                        <div style="position:absolute ;right: 515px">@User.Identity.Name</div>
                        <div><a class="nav-link text-dark" asp-controller="Account" asp-action="LogOut">Выйти</a></div>
                    }
                    else
                    {
                        <div style="position:absolute ;right: 545px" id="Register"><a class="nav-link text-dark" asp-controller="Account" asp-action="FormReg">Регистрация</a></div>
                        <div id="Login"><a class="nav-link text-dark" asp-controller="Account" asp-action="FormLog">Авторизоваться</a></div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-info">
        <div class="container">
            &copy; 2020 - WebProject
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
